.image-cover {
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.formulario {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.letra {
	font-size: 2em;
	font-weight: bold;
	color: #195e8f;
}
